:root {
  --darkreader-neutral-background: #111314;
  --darkreader-neutral-text: #c2bfba;
  --darkreader-selection-background: #004599;
  --darkreader-selection-text: #d1cfcc;
}

html {
  color-scheme: dark !important;
  display: block
}

body {
    background-color: #2c3347;
    color: #ffffff;
  }
  
  ::-webkit-scrollbar {
    background-color: #1d2020;
    color: #9a948a;
}

::-webkit-scrollbar-corner {
  background-color: #161718;
}

::-webkit-scrollbar-thumb {
  background-color: #3e4345;
}

::selection {
  background-color: #004599 !important;
  color: #d1cfcc !important;
}

  h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  
    text-align: center;
    line-height: 59px;
  
    padding: 0 64px;
    margin: 0;
  }
  
  .stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 270px;
    width: 270px;
  
    border: 2px solid;
    border-radius: 50%;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

h2, h3 {
  color: #fdfdfdfe;
}

p {
  color: #f6f5f5eb
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #1e1c1c;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(128, 103, 50);
  color: rgb(198, 195, 192);
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: rgb(128, 103, 50);
  color: rgb(198, 195, 192);
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
